<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Verifica i tuoi dati di contatto</title>
</head>
<body>
    <p>Gentile {{ name }},</p>

    <p>Si prega di verificare i tuoi dati di contatto cliccando sul seguente link: <a href="{{ verificationLink }}">Aggiorna i miei dati di contatto</a></p>

    <p>Distinti saluti,</p>
    <p>Il team regiosuisse</p>
</body>
</html>
