<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vérifiez vos coordonnées</title>
</head>
<body>
    <p>Bonjour {{ name }},</p>

    <p>Veuillez vérifier vos coordonnées en cliquant sur le lien suivant : <a href="{{ verificationLink }}">Mettre à jour mes coordonnées</a></p>

    <p>Cordialement,</p>
    <p>L'équipe regiosuisse</p>
</body>
</html>
