{# templates/emails/verify_contact.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Verifizieren Sie Ihre Kontaktdaten</title>
</head>
<body>
    <p>Sehr geehrte/r {{ name }},</p>

    <p>Bitte verifizieren Sie Ihre Kontaktdaten, indem Sie auf den folgenden Link klicken: <a href="{{ verificationLink }}">Meine Kontaktdaten ändern</a></p>

    <p>Mit freundlichen Grüßen,</p>
    <p>Ihr regiosuisse Team</p>
</body>
</html>
